<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/airline</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.connection.password">12345678</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.format_sql">true</property>
  <mapping class="edu.neu.csye6220.pojo.Aircraft"/>
  <mapping class="edu.neu.csye6220.pojo.Airline"/>
  <mapping class="edu.neu.csye6220.pojo.AirlineStaff"/>
  <mapping class="edu.neu.csye6220.pojo.Airport"/>
  <mapping class="edu.neu.csye6220.pojo.AirportStaff"/>
  <mapping class="edu.neu.csye6220.pojo.BaggageCarousel"/>
  <mapping class="edu.neu.csye6220.pojo.BoardingPass"/>
  <mapping class="edu.neu.csye6220.pojo.CheckinCounter"/>
  <mapping class="edu.neu.csye6220.pojo.Flight"/>
  <mapping class="edu.neu.csye6220.pojo.FlyDuty"/>
  <mapping class="edu.neu.csye6220.pojo.FrequentFlyer"/>
  <mapping class="edu.neu.csye6220.pojo.Gate"/>
  <mapping class="edu.neu.csye6220.pojo.Itinerary"/>
  <mapping class="edu.neu.csye6220.pojo.Luggage"/>
  <mapping class="edu.neu.csye6220.pojo.Passenger"/>
  <mapping class="edu.neu.csye6220.pojo.Role"/>
  <mapping class="edu.neu.csye6220.pojo.Seat"/>
  <mapping class="edu.neu.csye6220.pojo.Terminal"/>
  <mapping class="edu.neu.csye6220.pojo.Ticket"/>
  <mapping class="edu.neu.csye6220.pojo.User"/>
  <mapping class="edu.neu.csye6220.pojo.UserOrder"/>
 </session-factory>
</hibernate-configuration>
